* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	border: 4px solid black;
	width: 30%;
	border-radius: 1rem;
}

.avatar img {
	height: 300px;
	width: 100%;
	object-fit: cover;
	background-position: center;
	border-radius: 0.7rem;
}

.intro {
	padding: 1.5rem;
}

.intro h1 {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}

.intro p {
	margin-bottom: 0.5rem;
}

.skill__list {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
}

.skill__span {
	background-color: red;
	color: white;
	padding: 0.2rem;
	border-radius: 0.2rem;
	margin: 0 0.5rem 0.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
